* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    background-image: url(./Component/minions.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


@media screen and (max-width: 1280px){
    .App {
        font-size: .9vw;
    }
}