* {
    margin: 0;
    padding: 0;
}

.App {
    background-image: url(./Component/minions.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100dvh;
}

@media screen and (max-width: 1280px){
    .App {
        font-size: .9vw;
    }
}