* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    font-size: 4em;
    font-style: italic;
    color: rgb(0, 51, 161);
    margin-left: 3.5em;
}

.container {
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-left: .1em;
}

.InputFieldOne{
    font-size: 1em;
    font-style: italic;
    color: white;
    background-color: rgb(0, 51, 161);
    padding: .5em;
    border-radius: .8em;
    width: 100%;
    margin-top: 2em;
    display: flex;
    gap: 1em;
    margin-left: 1em;
}

.container-body {
    margin-left: 9em;
    list-style: none;
}