* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    font-size: 4em;
    font-style: italic;
    color: rgb(0, 51, 161);
    margin-left: 2em;
}

h3 {
    font-size: 2em;
    font-style: italic;
}

.container {
    padding: 1em;
}

.CheckBoxOne{
    display: flex;
    align-items: center;
    margin-top: 2.5em;
    gap: 1em;
    color: rgb(0, 51, 161);
}

.container-body {
    margin-left: 9em;
}