* {
    margin: 0;
    padding: 0;
}

.App {
    background-image: url(./Component/NVA-panda.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

@media screen and (max-width: 1280px) {
}